.main {
  display: flex;
  flex: 1;
  margin: 1rem;
  border: 1px solid var(--color-accent-soft);
  border-radius: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.leftSidebar {
  width: 300px;
  margin-left: 1rem;
}

.rightSidebar {
  width: 200px;
  margin-right: 1rem;
}
